@use '../../../common/colors.scss';
@use '../style.module.scss' as Controls;

.PlayPauseBtn {
  @include Controls.Button(50px);

  svg {
    display: block;
  }

  &.playing svg {
    margin-left: 15px;
  }

  &.paused svg {
    margin-left: 17px;
  }
}
