@use '../../common/constants.scss';
@use '../../common/colors.scss';

.Grid {
  $gap: 1px;

  background: colors.$primary;
  display: inline-grid;
  gap: $gap $gap;
  width: 100vw;
  height: calc(100vh - constants.$controlsHeight);
}
