@use '../../../common/colors.scss';

.Cell {
  width: 100%;
  height: 100%;
  background: colors.$lightPrimary;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 0 1px colors.$primary;
  position: relative;

  &:hover {
    background: colors.$semiLightPrimary;
  }

  &.alive {
    background: colors.$darkPrimary;

    &:hover {
      background: colors.$semiDarkPrimary;
    }
  }
}
