@use '../../common/constants.scss';
@use '../../common/colors.scss';

.Controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: colors.$primary;
  height: constants.$controlsHeight;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    background: colors.$darkPrimary;
    color: colors.$lightPrimary;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid colors.$lightPrimary;

    &.playPause {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;

      svg {
        display: block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding-left: 5px;
      }
    }
  }
}
